<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DeepPavlov Applications</title>
</head>
<body>
<h3>Сравнение значений текстов</h3>
<div>
    <form action="" method="POST" enctype="multipart/form-data">
    <input type="text" name="json_data_for_text_a"><br><br>
    <input type="text" name="json_data_for_text_b"><br><br>
    <button type="submit" name="paraphrase_btn">Сравнить</button>
    {% csrf_token %}
    </form>
    <br>
    {{ paraphrase_data }}
</div>
<div>
    <br><br>
    <h3>Классификация тональности текста </h3>
</div>
<div>
    <form action="" method="POST" enctype="multipart/form-data">
    <input type="text" name="json_data_for_sentiment"><br><br>
    <button type="submit" name="sentiment_btn">Узнать тональность</button>
    {% csrf_token %}
    </form>
    <br>
    {{ sentiment }}
</div>
</body>
</html>